<!-- NAV BAR LATERAL DROITE -->

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h4 id="offcanvasRightLabel"><img class="logo_guitare me-2" src="{{ asset('assets/images/guitar_64px.png') }}" width="40px" height="40px"> Zikrit</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">   
            <nav class="sidebar">
                <ul class="nav flex-column" id="nav_accordion">
                    <div class="lien_nav_scroll">
                        <ul>
                            <li>
                                <a href="{{ path('store') }}">Dernières sorties</a>
                            </li>
                            <li>
                                <a href="{{ path('search', {id:0}) }}">Les albums</a>
                            </li>
                            <li>
                                <a href="{{ path('categories')}}">Les catégories</a>
                            </li>   
                        </ul>
                    </div>
                    <h6>Recherche simplifiée :</h6>
                    <li class="nav-item">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">
                                <option selected>Categories</option>
                                <option value="1">Pop</option>
                                <option value="2">Rock</option>
                                <option value="3">RnB</option>
                                <option value="3">Classique</option>
                                <option value="3">Jazz</option>
                            </select> 
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">
                                <option selected>Album</option>
                                <option value="1">Title Album</option>
                                <option value="2">Title Album</option>
                                <option value="3">Title Album</option>
                                <option value="3">Title Album</option>
                                <option value="3">Title Album</option>
                            </select> 
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">
                                <option selected>Titre</option>
                                <option value="1">Title Titre</option>
                                <option value="2">Title Titre</option>
                                <option value="3">Title Titre</option>
                                <option value="3">Title Titre</option>
                                <option value="3">Title Titre</option>
                            </select> 
                        </div>
                    </li>

                    <li class="nav-item">
                        <p class="p_price">Prix :</p>
                        <div class="box">
                            <div class="slider">
                                <input type="range" min="0" max="50" value="10" id="range">
                            </div>
                            <span id="demo">€</span>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="text-center mt-3">
                            <button class="btn btn-primary btn-sm" type="button">Search</button> 
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>