    <section class="container_store">
        <div class="background_store">
            <div class="overlay_store">
                <div class="row">
                    <div class="col-12 title_store text-center mt-4">
                        <h1>Musicothèque</h1>
                    </div>
                </div>
                
                <div class="row responsive_store">
                    <div class="col-6 lien_store">
                        <ul>
                            <li>
                                <a href="{{ path('store') }}">Dernières sorties</a>
                            </li>
                            <li>
                                <a href="{{ path('search', {id:0}) }}">Les albums</a>
                            </li>
                            <li>
                                <a href="{{ path('categories')}}">Les catégories</a>
                            </li>   
                        </ul>
                    </div>
                    <div class="col-6 text-center">
                        <form action="{{ path('search', {id: 0}) }}">
                            <button class="btn btn-primary btn-sm btn_nav_scroll" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight">Recherche rapide</button>
                            <label for="search" class="sr-only"></label>
                            <input class="form-control-sm none" type="text" name="search" placeholder="Rechercher" aria-label="Search">
                            <button class="btn btn-primary btn-sm none" type="submit">Rechercher</button>
                        </form>
                    </div>
                </div> 
                
            </div>
        </div>
    </section>