{% extends 'base.html.twig' %}

{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}

{% block title %}Zikrit{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2"></div>
            <div class="col-8 text-center mt-4">
                <h1>{% if modeEdition %} Modifiez votre critique 
                        {% else %}
                        Envoyez votre critique
                    {% endif %}
                </h1>
                <h4 class="mt-5">Tout d'abord, veuillez rechercher un album</h4>
                <form class="mt-3" action="{{ path('search', {id: 0}) }}">
                    <label for="search" class="sr-only"></label>
                    <input class="form-control-sm" type="text" name="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
                </form>
            </div>
        <div class="col-2"></div>
    </div>

{% endblock %}
