{% extends 'base.html.twig' %}

{% block title %}Zikrit{% endblock %}

{% block body %}

    <section class="start">
        <div class="background" style="background-image: url('{{ asset('assets/images/img_background.jpg') }}')">
            <div class="overlay">
                <div class="container_title">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="title anim_title">Zikrit</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center" data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="2100">
                            <h2 class="title_welcome">vous souhaite la bienvenue.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    </section>

    <div class="row justify-content-center">
        <div class="col-8">
            <hr>
            <h3 class="text-center">Les critiques de musique</h3>
        </div>
    </div>

    <div class="container_card">
        {% for critic in critics %}
            <div class="card mb-5">
                <div class="row g-2">
                    <div class="col-md-4 image_size">
                        <img src="https://source.unsplash.com/1024x200" class="img-fluid rounded-start" alt="photo d'album">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title text-center">Critique</h4>
                            <div class="user">
                                <p>Pseudo</p>
                                <p>{{ critic.createdAt | date("d/m/Y") }}</p>
                            </div>
                            <div class="comment mt-1">
                                <h5 class="text-center">Commentaire critique</h5>
                                <p>
                                {{ critic.content }}
                                </p>
                            </div>
                            <div class="fonction">
                                <p class="pt-2">Like/dislike</p>
                                <a class="btn btn-primary btn-sm" href="{{ path('view_critic', {id:critic.id}) }}">En voir plus ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

