* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient_base {
    background-image: linear-gradient(
        134deg,
        rgba(1, 1, 1, 0.02) 0%,
        rgba(1, 1, 1, 0.02) 16%,
        transparent 16%,
        transparent 76%,
        rgba(14, 13, 13, 0.02) 76%,
        rgba(14, 13, 13, 0.02) 100%
    ),

    linear-gradient(
        215deg,
        rgba(41, 39, 39, 0.02) 0%,
        rgba(41, 39, 39, 0.02) 33%,
        transparent 33%,
        transparent 79%,
        rgba(41, 39, 39, 0.02) 79%,
        rgba(41, 39, 39, 0.02) 100%
    ),

    linear-gradient(
        303deg,
        rgba(36, 35, 35, 0.02) 0%,
        rgba(36, 35, 35, 0.02) 7%,
        transparent 7%,
        transparent 90%,
        rgba(14, 13, 13, 0.02) 90%,
        rgba(14, 13, 13, 0.02) 100%
    ),

    linear-gradient(
        302deg,
        rgba(47, 47, 47, 0.02) 0%,
        rgba(47, 47, 47, 0.02) 34%,
        transparent 34%,
        transparent 73%,
        rgba(28, 28, 28, 0.02) 73%,
        rgba(28, 28, 28, 0.02) 100%
    ),
    
    linear-gradient(
        90deg, 
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    );
}

/* CODE CSS DE LA NAV BAR */

.margin_nav a {
    margin-top: 9px;
}

/* Code css pour ma fonction JavaScript du scroll de la nav_bar = .fixed */

.header {
    position: relative;
    z-index: 10;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}

.logo_nav {
    margin-right: 1rem;
}

.logo_title_nav {
    animation: type 2s steps(50) infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 12ch;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 12ch;
    }
}

/* CODE CSS DE LE BOUTTON EN SCROLL TOP */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 17px;
    z-index: 99;
    cursor: pointer;
}

/* CODE CSS POUR LE FOOTER */

footer {
    margin: 2rem;
}

.copyright {
    margin-top: 1rem;
}

.p_footer {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}

.text_typing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2em;
}

.logo_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.logo_footer img {
    margin: 1rem;
}

@media screen and (max-width: 1200px) {
    .logo_title_nav {
        animation: none;
    }

    .responsive_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .copyright {
        width: auto;
    }

    .text_typing {
        width: auto;
        margin-top: 2rem;
    }

    .logo_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }
}

@media screen and (max-width: 992px) {



}

@media screen and (max-width: 768px) {



}
