/* CODE CSS POUR LE FORMULAIRE D'INSCRIPTION DE LA PAGE index.html.twig DANS DOSSIER AUTH */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.background_register {
    background: url('../images/img_inscription.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 80%;
}

.overlay_register {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc_central_register {
    margin: 3rem;
}

.title_register {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .background_register {
        height: 100%;
        width: 100%;
    }
}