* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background_view {
    background: url('../images/listen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-bottom: 5rem;
}

.row h3 {
    margin-top: 2rem;
}

.image_view img{
    display: block;
    margin: auto;
    width: 350px;
    height: 350px;
}

.p_artist_album_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.p_date_copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 2rem;
}

.table_center {
    text-align: center;
}

@media screen and (max-width: 1200px) {

    .responsive_view {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p_artist_album_name {
        margin: 2rem;
        text-align: center;
    }

    .image_view img{
        max-width: 300px;
        max-height: 300px;
        margin: auto;
    }
}

@media screen and (max-width: 992px) {

    .text_card_view p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image_view {
        width: 600px;
        height: 300px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .table_center {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {

    audio, h6 {
        max-width: 80%;
    }
    
}